html,
body {
    color: #333;
    font-family: 'Public Sans', sans-serif;
    font-weight: 400;
    background-color: #F0F1F3;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.label,
.button,
.table thead th{
  font-family: 'Secular One', sans-serif;
  font-weight: 400;
}

.page-container{
  width: 393px;
  margin: 24px auto;
}